<%-include("header")-%>
    <!--Section: Contact v.1-->
    <section class="section pb-5 contactSection">
      <div class="bkg-contact">
        <!--Section heading-->
        <h2 class="section-heading h1 pt-4">Contact us</h2>

        <!--Google map-->
        <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 250px">
          <iframe
            src="https://maps.google.com/maps?q=Hanuman%20jewellers%2C%20tallam%20street%20Anantapur&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>


      <br>
      <!--Buttons-->
      <div class="row text-center">
        <div class="col-md-4">
          <a class="btn-floating blue accent-1"><i class="fas fa-map-marker-alt"></i></a>
          <p>22-136 Tallam Street, Old Town</p>
          <p>ANANTHAPURAMU</p>
          <p>ANDHRA PRADESH 515-005</p>
          <p>INDIA</p>
        </div>

        <div class="col-md-4">
          <a class="btn-floating blue accent-1"><i class="fas fa-phone"></i></a>
          <p><a href="tel:+919440242898">+91 9440242898</a></p>
          <p><a href="tel:+08554241849">+08554 241849</a></p>
        </div>

        <div class="col-md-4">
          <a class="btn-floating blue accent-1"><i class="fab fa-whatsapp"></i></a>
          <p><a href="//api.whatsapp.com/send?phone=919440242898&text=Hi,%20i%20want%20to%20purchase%20from%20you."
              title="Share on whatsapp">WhatsApp</a></p>
        </div>
        <div class="col-md-4">
          <a class="btn-floating blue accent-1"><i class="fab fa-facebook"></i></a>
          <p><a href="https://www.facebook.com/hrs.kpg/">Facebook</a></p>
        </div>
        <div class="col-md-4">
          <a class="btn-floating blue accent-1"><i class="fas fa-clock"></i></a>
          <p>Mon - Sat, 10:00-14:30, 16:00-22:00</p>
          <p>Sun, 10:00-14:30</p>
        </div>

        <div class="col-md-4">
          <a class="btn-floating blue accent-1"><i class="fas fa-envelope"></i></a>
          <p><a href="mailto:hanumanjewellery@gmail.com">hanumanjewellery@gmail.com</a></p>
        </div>
      </div>
      <footer>
        <p class="copyRight"><i class="fas fa-copyright"></i> Hanuman Jewellers <%=year %></p>
      </footer>
    </section>

  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
</body>

</html>