<%-include("header")-%>
        <img width="50%" src="/Images/undraw_under_construction_46pa.png" alt="under_construction.png">
        <h2 class="section-heading h1 pt-4">Under Development Sorry :)</h2>
        <footer>
            <a href="tel:+919440242898"><i class="fas fa-phone"></i></a>
            <a href="//api.whatsapp.com/send?phone=919440242898&text=Hi,%20i%20want%20to%20purchase%20from%20you."
                title="Share on whatsapp"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.facebook.com/hrs.kpg/"><i class="fab fa-facebook"></i></a>
            <a href="mailto:hanumanjewellery@gmail.com"><i class="fas fa-envelope"></i></a>
            <p class="copyRight"><i class="fas fa-copyright"></i> Hanuman Jewellers <%=year %></p>
        </footer>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>